@model LMS.Grupp4.Core.ViewModels.KursLitteratur.KursLitteraturCreateForfattareViewModel

@{
    ViewData["Title"] = "Skapa ny Forfattare";
}

<h1>Skapa ny författare</h1>

@{ await Html.RenderPartialAsync("_MessageView"); }

<h4>Litteratur @Model.Titel</h4>
<p>Författaren kommer att kopplas till litteraten</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateForfattare">
            <input type="hidden" id="LitteraturId" name="LitteraturId" value="@Model.LitteraturId" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ForNamn" class="control-label"></label>
                <input asp-for="ForNamn" class="form-control" />
                <span asp-validation-for="ForNamn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EfterNamn" class="control-label"></label>
                <input asp-for="EfterNamn" class="form-control" />
                <span asp-validation-for="EfterNamn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FodelseDatum" class="control-label"></label>
                <input asp-for="FodelseDatum" class="form-control" />
                <span asp-validation-for="FodelseDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Skapa författare" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
