/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.pad-0 {
    padding: 2px;
}
.corner-left{
    border-radius: 0px;
    border-start-start-radius: 10px;
}
.corner-right {
    border-radius: 0px;
    border-start-end-radius: 10px;    
}
.topbar {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #2699FB;
    border: 1px solid black;    
}
.btn-mhm {
    color: #fff;
    background-color: #2699FB;
    border-color: #0366d6;
    margin:3px;
}
.centerimg {
    text-align: center;
}
.corner-rounded{
    border-radius: 4px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
listdivision:nth-of-type(2n+1) {
    background-color: #daf1ff /*#bbe6ff*/;
}
listdivision:nth-of-type(2n+2) {
    background-color: #b7ddff /*#89c8ff*/;
}