@model AnvandareDto
@{
    ViewData["Title"] = "Create";
}

<h1 class="">Skapa ny användare</h1>
<a asp-action="Index" class="btn btn-secondary">Tillbaka</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div class="form-group">
        <label asp-for="ForNamn">Förnamn</label>
        <input asp-for="ForNamn" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="EfterNamn">Efternamn</label>
        <input asp-for="EfterNamn" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Epost</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Avatar"></label>
        <input asp-for="Avatar" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RoleId">Användartyp</label>
        <select asp-for="RoleId" asp-items="@ViewBag.allRoles" class="form-control">
            <option selected="selected" value="">Please select a role</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Skapa användaren</button>
</form>
