@model IEnumerable<Anvandare>
@if (User.Identity.IsAuthenticated)
{
<h1 class="bg-info text-white">Användare</h1>
<a asp-action="Create" class="btn btn-secondary">Skapa ny användare</a>

<table class="table table-sm table-bordered">
    <tr><th>ID</th><th>Name</th><th>Email</th></tr>
    @foreach (Anvandare user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
        </tr>
    }
</table>
}